  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="span3">
           <%= render "/layouts/sidebar" %>
        </div><!--/.span3-->


        <div class="span9">
          <div class="content">

            <div class="module">
              <div class="module-head">
                <h3> Edit User </h3>
              </div>
          
              <div class="module-body"> 

          <%= form_for [@user, @profile], url: update_user_path, method: 'put', class: "form-vertical" do |form| %>
                  

                  <div class="control-group">
                    <div class="controls row-fluid">                  
                      <%= form.label :first_name, class: 'control-label' %>
                      <%= form.text_field :first_name, class: 'span8' %>
                     </div>
                   </div>                 
                  <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :last_name, class: 'control-label' %>
                      <%= form.text_field :last_name, class: 'span8' %>
                    </div>
                   </div>
                  <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :address, class: 'control-label' %>
                      <%= form.text_area :address, class: 'span8' %>
                    </div>
                   </div>
                   
                   <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :city, class: 'control-label'%>
                      <%= form.text_field :city, class: 'span4'%>
                    </div>
                   </div>
                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :designation, class: 'control-label'  %>
                      <%= form.text_field :designation, class: 'span8' %>
                    </div>
                   </div>
                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :dob, class: 'control-label' %>
                      <%= form.text_field :dob, class: 'datepicker' %>
                    </div>
                   </div>
                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :gender, class: 'control-label' %>
                      <%= form.radio_button :gender, 'male' %>male<br />
                      <%= form.radio_button :gender, 'female' %>female<br />
   
                   </div>
                   </div>
                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :employee_code, class: 'control-label' %>
                      <%= form.text_field :employee_code, class: 'span4' %>
                    </div>
                   </div>
                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :joining_date, class: 'control-label' %>
                      <%= form.text_field :join_date, class: 'datepicker' %>
                    </div>
                   </div>

                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :maratial_status, class: 'control-label' %>
                      <%= form.radio_button :maratial_status, 'married' %>married<br />
                      <%= form.radio_button :maratial_status, 'unmarried' %>unmarried<br />
                    </div>
                   </div>

                    <div class="control-group">
                    <div class="controls row-fluid">
                      <%= form.label :mobile_number, class: 'control-label' %>
                      <%= form.text_field :mobile_number, class: 'span8' %>
                    </div>
                   </div>
<!--                       <%= form.submit %>
 -->                   <div class="control-group">
                      <div class="controls">
                        <button type="submit" class="btn">Update profile</button>
                      </div>
                    </div>

                  <% end %>
                </form>
            </div>
            </div><!--/.module-->
          </div><!--/.content-->
        </div><!--/.span9-->
      </div>
    </div><!--/.container-->
  </div><!--/.wrapper-->

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>